	<script type="text/javascript" src="<?php echo base_url();?>assets/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="<?php echo base_url();?>assets/plugins/fullcalendar/lib/moment.min.js"></script>
	<script type="text/javascript" src="<?php echo base_url();?>assets/plugins/fullcalendar/lib/jquery-ui.min.js"></script>
	<script type="text/javascript" src="<?php echo base_url();?>assets/plugins/fullcalendar/fullcalendar.min.js"></script>
	<script type="text/javascript" src="<?php echo base_url();?>assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="<?php echo base_url();?>assets/js/scripts.js"></script>
	</body>
</html>